html{
    scroll-behavior: smooth;
}

img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;  

}

.Places{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-list{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 20px 0;
  text-align: center;
  color: #16A085;
}

ul{
    padding-bottom: 10px;
}

h2{
    font-size: 40px;
    line-height: 1.5;
    padding-bottom: 5px;
    width: 75%;
    color: #16A085;
  }

nav{
    padding: 10px 5px; 
    text-align: center;
    font-size: 42px;
  }

#apollo{
   width: 30%;
   margin-left: 10%;
   margin-right: 0%;
}

h3{
  margin-left: 10%;
  font-size: 32px;
  color: #16A085;
}

.videolinks{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


li{
    font-size: 22px;
}

header p{
    color: #16A085;
    font-size: 32px;
    text-align: center;
  }

body{
    background-image: url(../images/Map.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .aboutme{
    background-color: whitesmoke;
    background-image: none;
  }

  nav li{
    display:inline-flex;
    font-family: 'Azeret Mono', monospace;
    font-size: 50px;
    padding-right:20px;
    padding-bottom: 10px;
  
  }

  nav{
    background-color: #16A085;
  }

  footer{
    background-color: #16A085;
    padding-top: 15px;
    text-align: center;
    bottom: 0;
    align-items: center;
  }

  footer p{
      color: whitesmoke;
  }

  .zoom{
    transition: transform .5s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }